@import '../../styles/common.scss';

.save-btn {
    position: fixed;
    right: 4rem;
}

.profile,
.user {
    min-width: 20.5rem;
    margin-top: 2rem;

    .button3 {
        margin-top: 15px;
    }
    .message {
        margin: 15px 0;
    }
    .expanded {
        color: $gray90;
    }
    .disabled {
        cursor: not-allowed;
        input {
            pointer-events: none;
        }
    }
}

.profile {
    .button3 {
        margin-bottom: 20px;
    }
}

@include mobile-landscape {
    .profile,
    .user {
        margin-top: 20px;
    }
}
