.groups {
    height: calc(100vh - 70px);
    padding: 20px 30px;
    background-color: #fafafa;
}

.ant-input,
.ant-input-number {
    border-radius: 0;
    font-size: 15px;
}

.ant-input {
    height: 40px;
}

.ant-table {
    font-size: 15px;
    border: 1px solid #e5e5e5;
}

.ant-table-tbody {
    background-color: white;
}