@import "../../styles/common.scss";

.password {
    position: relative;

    .anticon {
        position: absolute;
        top: 1.3rem;
        left: calc(100% - 2rem);
        font-size: 1.25rem;
        color: $gray50;
        cursor: pointer;
    }
}

.validation {
    .hidden {
        visibility: hidden;
        margin-right: -20px;
    }
}
