@import '../../styles/table.scss';

.orders {
    @include search-bar(32rem);

    .action {
        cursor: pointer;
        p {
            color: #1e7f9a;
        }
    }
    .list {
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
}

@include ipad-portrait {
    .orders {
        overflow: auto;
        @include show-list;

        .sb-md {
            // override bootstrap style
            display: none !important;
        }
        .sb-sm {
            // override bootstrap style
            display: block !important;
        }
    }
}

@include mobile-landscape {
    .orders {
        background-color: $white-smoke;
        overflow-y: auto;

        .search-bar {
            @include search-mobile;
        }
        .order-card {
            width: 50%;
        }
        .list {
            padding-top: 60px;
        }
    }
}

@include mobile-portrait {
    .orders {
        .order-card {
            width: 100%;
        }
    }
}
