@import '../../styles/common.scss';

.forgot {
    height: 100%;

    & > div {
        min-width: 25rem;
    }

    .logo-md {
        height: 2.5rem;
        margin-right: 0.75rem;
    }

    .forgot-title {
        margin-top: 3.5rem;
        margin-bottom: 1.25rem;
    }

    .forgot-text {
        text-align: center;
        margin-bottom: 3rem;
    }

    .form {
        min-width: 20.5rem;

        .button3 {
            margin-bottom: 3.5rem;
        }
    }

    .logo-sm {
        height: 30px;
        margin-bottom: 15px;
    }

    .welcome-sm {
        margin-bottom: 20px;
        margin-top: 50px;
    }
}

@include mobile-landscape {
    .forgot {
        height: calc(100% - 100px);
        overflow-y: auto;

        & > div {
            min-width: inherit;
        }

        .forgot-text {
            text-align: left;
            margin-bottom: 20px;
        }

        .form {
            width: 100%;
        }
    }
}
