@import 'spoton-lib/styles/color';
//
//  This file has common variables and mixins
//
$main-color: color('aqua', '50');
$main-color-dark: color('aqua', '80');
$white-smoke: #f5f5f5;
$gray90: color('gray', '90');
$gray50: color('gray', '50');
$gray10: color('gray', '10');
$aqua50: color('aqua', '50');
$shadow-bottom: 0px 2px 4px -2px rgba(10, 10, 11, 0.161);
$header-height: 4.75rem;

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin onhover {
    overflow: visible;
    white-space: normal;
    word-break: break-word;
}

@mixin group-label {
    font-size: 0.81rem;
    margin-bottom: 4px;
    color: $gray50;
}

@mixin search-mobile {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 60px;
    z-index: 100;
}

@mixin show-list {
    .list {
        // override bootstrap style
        display: flex !important;
        padding-top: 0;
    }
    .table {
        // override bootstrap style
        display: none !important;
    }
}

@mixin search-bar($width) {
    .search-bar {
        max-width: $width;
        padding: 30px 0;
    }
}

@mixin arrow-icon($top) {
    .arrow-icon {
        position: relative;
        top: $top;
        cursor: pointer;
    }
}

@mixin large-desktop {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}

@mixin ipad-landscape {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin ipad-portrait {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin mobile-landscape {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobile-portrait {
    @media only screen and (max-width: 575px) {
        @content;
    }
}
